{{template "start" .}}
<div class="avatar-container">
  <img src="avatar.jpg" class="avatar" />
</div>
<h1>Jannis Mattheis</h1>
<p>
  I'm a software engineer from Berlin, Germany. Since 2018, I'm creating and
  maintaining privacy focused open-source projects.
</p>
<p>
  If you or your company use any of my projects, consider supporting me so I can
  continue maintaining them.
  <a href="https://jmattheis.de">Read more</a> about me and my projects.
</p>
<h3>Monthly</h3>
<p>
  -
  <a rel="me" href="https://github.com/sponsors/jmattheis"
    >github.com/sponsors/jmattheis</a
  >
</p>
<p>
  - <a rel="me" href="https://patreon.com/jmattheis">patreon.com/jmattheis</a>
</p>
<h3>One-Time</h3>
<p>- <a rel="me" href="https://paypal.me/jmattheis">paypal.me/jmattheis</a></p>
<p>
  -
  <a rel="me" href="https://www.buymeacoffee.com/jmattheis"
    >www.buymeacoffee.com/jmattheis</a
  >
</p>
<p>
  - ETH:
  <span class="code">0x8f81078456e10a51c93d18fa2093BFFA3D8fA273</span>
</p>
{{template "end"}}
